@model IEnumerable<HouseReview.Models.Comment>
@{ ViewData["Title"] = "Кировский"; }
<body>
    <h2 class="text-center">Карта районов</h2>
    <div class="row">
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Soviet">
                    <img src="~/img/Soviet.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Soviet">Советский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Voroshil">
                    <img src="~/img/Voroshil.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Voroshil">Ворошиловский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Railw">
                    <img src="~/img/railw.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Railw">Железнодорожный</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Kirov">
                    <img src="~/img/Kirov_pressed.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Kirov">Кировский</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Lenin">
                    <img src="~/img/Lenin.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Lenin">Ленинский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="October">
                    <img src="~/img/October.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="October">Октябрьский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Prolet">
                    <img src="~/img/Prolet.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Prolet">Пролетарский</a>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md">
            <div class="thumbnail">
                <a class="nav-item" asp-controller="Home" asp-action="Firstm">
                    <img src="~/img/Firstm.jpg" class="img-thumbnail" alt="Lights" style="width:100%">
                    <div>
                        <a class="text-sm-center nav-link" asp-controller="Home" asp-action="Firstm">Первомайский</a>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center p-4">
        <div class="col-md-auto">
            <h4>Добавить комментарий для района: </h4>
        </div>
        <div class="col-md-auto">
            <form asp-controller="Comment" asp-action="Create">
                <input type="submit" name="Adress" value="Кировский" class="btn btn-primary" />
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-primary">Список комментариев</h2>
            </div>
        </div>
        <br /> <br />
        @if (Model.Count() > 0)
        {
    <table class="table table-bordered table-striped" style="width:100%">

    <thread>
        <tr>
            <th>
                Комментарий
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Район
            </th>
            <th>
                Пользователь
            </th>

            <th>
                Оценка
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach (var obj in Model)
        {
<tr>
    <td width:75%>@obj.Text</td>
    <td width:15%>@obj.CreationTime</td>
    <td width:10%>@obj.Adress</td>
    <td width:10%>@obj.UserName</td>
    <td width:10%>@obj.Grade</td>
</tr>}
    </tbody>
</table> }
else
{
<p>По данному району пока нет комментариев</p>}
    </div>


</body>
